body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #000;
}

.nameStyle {
  color: red;
  font-family: Helvetica;
  font-size: 150%;
}

hr {
	border-color: gray;
}

.entwineStyle {
  display: inline-block;
}

#logo {
  position: relative;
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 5em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, red, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.stylify {
	color: black;
	position: absolute;
}

#user_login {
	position: absolute;
}

.input_boxes {
	width: 1000%;
	padding: 10px;
	background-color: lightgray;
	color: black;
	font-size: 100%;
}

#s_login_but:hover{
	width: 1000%;
	padding: 8px;
	position: absolute;
	background-color: grey;
	color: white;
	border: none;
	font-size: 110%;
	border-radius: 4px;
	align-items: center;
	cursor: pointer;
}

#s_login_but {
	width: 1000%;
	padding: 8px;
	position: absolute;
	background-color: transparent;
	color: white;
	border: none;
	font-size: 110%;
	border-radius: 4px;
	align-items: center;
}

#s_logsign_but:hover{
	width: 1000%;
	padding: 4px;
	position: absolute;
	background-color: transparent;
	color: aqua;
	border: none;
	font-size: 100%;
	border-radius: 4px;
	align-items: center;
	outline: none;
	cursor: pointer;
}

#s_logsign_but {
	width: 1000%;
	padding: 4px;
	position: absolute;
	background-color: transparent;
	color: aqua;
	border: none;
	font-size: 100%;
	border-radius: 4px;
	outline: none;
	align-items: center;
}