div#container
{
	width: 300px;
	height: 25px;
	border: 2px solid #6610f2;
	margin-left: 10px;
	display: none;
}

div.suggest
{
	background-color: white;
}

div.suggest:hover
{
	color: #6610f2;
	cursor: pointer;
}